@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* When ThemeProvider toggles `.dark` on <html>, update variables */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
